[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no 
[ req_distinguished_name ]
countryName                 = NL
stateOrProvinceName         = Noord-Holland
localityName               = Amstelveen
organizationName           = MaSSHandra.com
commonName                 = www.netgraph.net
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = static.netgraph.net
DNS.2   = www.netgraph.net
DNS.3   = netgraph.net
