body, html {
	color: #222;
	background: #fff;
	font-size: 16px;
	font-family: Verdana;
    margin: 0;
    height: 100%;
}
form {
	display:inline;
}
li {
	margin-bottom: 5px;
}
i {
	font-weight: bold;
}
.head {
	font-size:40px;
	display: flex;
	justify-content: space-evenly;
    padding: 10px;
    text-align:center;
}
.head2 {
    color: #fff;
    background: #222;
	display: flex;
	justify-content: center;
    color: #fff;
    font-weight: normal;
    margin: 20px;
}
.head_button {
	font-size: 14px;
	text-decoration: none;
	color: #EEE;
	margin: 2px 24px;
	padding: 0px;
	border: none;
	background: none;
	vertical-align: bottom;
	font-family: sans-serif;
	font-weight: bold;
}
.head_button:hover {
    color: #888;
}
.head_button:active {
    box-shadow: none;
}

.content {
	display: flex;
	flex-direction: column;
    height: 100%;
}
.document {
    margin: 0 10%;
    padding: 10px;
    background: #FFF;
    color: #666;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 18px;
    font-family: sans-serif;
}
.paragraph {
	margin-left: 20px;
	margin-bottom: 20px;
}
.paragraph_intro {
	margin-bottom: 20px;
}
.doc_head {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: bold;	
}
.red {color: #F22;}
.green {color: #060;}
.black {color: #000;}